.botao-criar {
    background-color: white;
    color: #324376;
    border-color: #324376;

    padding-left: 42px;
    padding-right: 42px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 12px;
    font-weight: 700 !important;



}

.botao-criar:hover {
    background-color: #324376 !important;
    color: white !important;
    border-color: #324376 !important;
}

.botao-login {
    background-color: #324376;
    color: white;
    border-color: #324376;
    margin-left: 1vw;

    padding-left: 42px;
    padding-right: 42px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 12px;
    position: absolute;
    font-weight: 700 !important;



}

.botao-login:hover {
    background-color: white !important;
    color: #324376 !important;
    border-color: #324376 !important;
}

input {

    border-radius: 0% !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: white !important;
    font-family: "Roboto" !important;
    font-size: 0.75rem !important;
}

input:hover {
    border: 1px solid #324376 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: white !important;

    border-color: #324376;


}

input:focus {
    border: 1px solid #324376 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
}

.form-label {
    text-align: left !important;
}

hr {
    margin: auto;
    margin-bottom: 0.2rem;
}

.containerform {
    margin-top: 25vh;
}

@media (max-width: 1200px) {
    .containerform {

        margin-top: 0vh;
    }
}

/* @media (max-width: 819px) {
    .containerform {

        margin-top: 25vh;
    }
}  */

.passeye {
    margin-top: 23px;
    margin-left: 310px;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 539px) {
    .passeye {
        margin-left: 60vw;
        margin-top: 22px;
    }
}

.form-label {
    text-align: left !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #586BA4;
}

.containercadastro {
    text-align: center;
    font-family: "Roboto";
    color: #324376;
    line-height: 20px;
    font-weight: 700 !important;



}

.container h1 {
    font-weight: 700 !important;
    line-height: 2rem !important;
}

.container h5 {

    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Source Sans Pro";
    color: #F68E5F;
}

.botaocontainer{
    margin-top: 40px;
}


@media (max-width: 1370px) {
    .botaocontainer {
        margin-left: 15px;
    }
}
@media (max-width: 550px) {
    .botaocontainer {
        margin-left: 50px;
    }
}

;


@media (max-width: 900px) {
    .botaocontainer {
        margin-left: 0vw;
    }
}

.formlogin   {

    left: 40px !important;

}