.cardgrupos {
    background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0.85), rgba(44, 44, 44, 0.85)),
        url("../../assets/img/cardgrupos.png");
    /* filter: brightness(0.5); */
    background-size: cover;
    color: white;
    font-size: 12px;





}

.headercardgrupos {
    font-family: "Roboto";
    font-weight: 700;

}

.titulocardgrupo {
    margin-top: -1vh;
    font-size: 20px;
    line-height: 31px;
    margin-left: 1.2vw;
    font-family: "Source Sans Pro";


}

.labelgrupo {
    background-color: #DB6E6E;
    width: 75px;
    color: black;
    margin-left: 1.2vw;
    line-height: 20px;
}

.encontrocard {

    height: 38px;
    font-family: "Roboto";
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-gcard-txt {
    margin-left: 5px;

}

.footercardgrupo {
    font-weight: 700;
    font-size: 16px;
    font-family: "Source Sans Pro";

}

.footercardgrupo2 {
    line-height: 20px;
    font-weight: 400;
    font-family: "Source Sans Pro";

}