.containerheader {
    display: flex;
    justify-content: space-between !important;
}

.navbar {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #324376;
    color: white;
}

.navbar-brand {
    color: white;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 29px;

}

.textologo {
    margin-left: 10px;
    color: white;
}

.navbar-nav a {
    color: #324376;
}

.navbar a:hover {
    color: #324376;
}

.navbar a:after {
    color: #324376;
}

.navbar form input {
    width: 27.35vw;
    height: 50px;

    background: url("../../assets/img/lupavetor.png") no-repeat left;
    background-position: 15px 16px;
}

.navbar form input:focus {
    background-image: none;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    margin-left: 0;
}

.fotoheader {
    border: white solid 1px;
    width: 50px !important;
    height: 50px !important;

}



@media (max-width: 1000px) {
    .gruponav {

        display: none;
    }

    .chatnav {

        display: none;
    }

    .notificationnav {

        display: none;
    }

    .formpesquisa {
        display: none;
    }
}

.nav-link {
    padding: 0;
}

.dropdown-menu {
    margin-top: 40px !important;
    background-color: #F3F3F3;
    border: none;
    padding: 0;
    border-radius: 15px 15px 15px 15px;
    width: 252px;

}

.dropdown-item {
    padding: 16px 109px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px;
    color: #000000 !important;
    text-align: center;
    padding: 10%;
}

.dropdown-item:hover {
    background-color: #324376;
    color: #D9D9D9 !important;
    border-radius: 15px 15px
}