.containerheader {
    display: flex;
    justify-content: space-between !important;
}

.navbar {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #324376;
    color: white;
}

.navbar-brand {
    color: white;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 29px;

}

.textologo {
    margin-left: 10px
}

.navbar-nav a {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar form input {
    width: 27.35vw;
    height: 50px;

    background: url("../../assets/img/lupavetor.png") no-repeat left;
    background-position: 15px 16px;
}

.navbar form input:focus {
    background-image: none;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    margin-left: 0;
}

.fotoheader {
    border: white solid 1px;
    width: 50px !important;
    height: 50px !important;

}